.container.mt-4
  .border.p-4
    %h1.h5.mb-4
      投稿の編集

    = form_for @posts, url: post_path, method: :patch, remote: false do |f|
      .form-group
        = f.label :image, '画像ファイル'
        = f.file_field :image, class: 'form-control-file'
      .form-group
        = f.label :title, '商品名'
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :category_id, 'カテゴリー'
        = f.collection_select :category_id, Category.all, :id, :name, :include_blank => "カテゴリを選択してください"  , class: 'form-group-text'
      .form-group
        = f.label :price, '値段'
        = f.number_field :price, class: 'form-group-text'
      .form-group
        = f.label :text, '本文'
        = f.text_area :text, class: 'form-control', rows: "4"
      .button
        = link_to 'キャンセル', posts_path, class: 'btn btn-secondary'
        = f.submit '更新する', class: 'btn btn-primary'