- breadcrumb :new_post
.container.mt-4
  .border.p-4
    %h1.h5.mb-4
      投稿の新規作成

    = form_for @posts, url: posts_path, method: :post, remote: false do |f|
      .form-group
        = f.label :image_url, '画像url'
        = f.text_field :image_url, class: 'form-control-file'
      .form-group
        = f.label :title, '商品名'
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :category_id, 'カテゴリー'
        = f.collection_select :category_id, Category.all, :id, :name, {include_blank: "カテゴリを選択してください"}, {class: 'form-control'}
      .form-group
        = f.label :price, '値段'
        %span.price_yen_sign ¥
        = f.text_field :price, class: 'price_number', placeholder: "例)100"
      .form-group
        = f.label :text, '本文'
        = f.text_area :text, class: 'form-control', rows: "4"
      .button
        = f.submit '投稿', class: 'btn btn-primary'