.container
  .row
  - if @search.any?
    - @search.each do |post|
      .col-lg-3.col-md-6
        .card
          = image_tag post.image_url, class: "card-img-top"
          .card-body
            %p.card-title= link_to (post.title), post
            %p.card-genre= (post.category.name)
            %span.card-price= "¥#{number_with_delimiter(post.price)}" 
            .star
              %span{id: "star-rate-#{post.id}"}
              = render 'posts/read_rate', post: post
            （口コミ #{post.comments.count} 件）
  - else
    %h1 検索に一致する商品はありませんでした